.content {
  height: 100vh;
  background-color: #333333;
  padding: 0 2%;

  .nav {
    background-color: #232323;
  }
  .main {
    background-color: #232323;
  }
  .hints {
    background-color: #232323;
  }
}
