.content {
  height: 100vh;
  background-color: #333333;
  padding: 0 2%;

  .nav {
    background-color: #232323;
  }
  .main {
    background-color: #333333;
    font-family: Roboto;
    font-style: normal;
    font-feature-settings: 'pnum' on, 'lnum' on, 'ss07' on, 'ss03' on, 'liga' off;
    color: #F2F2F2;
  }
  .hints {
    background-color: #232323;
  }
}
