html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
    app-root {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .button-default {
          color: #F2F2F2;
          background: #0400D1;
          border: 1px solid #F2F2F2;
          box-sizing: border-box;
          border-radius: 8px;
          padding: 8px 32px;
          cursor: pointer;

          font-family: Work Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 24px;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          text-align: center;
          width: fit-content;
        }
      }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
